__pycache__/
dataset/protein/
dataset/rna/
dataset/test.txt
dataset/train.txt
dataset/val.txt
checkpoints/
train.log
plots
code
collect_code.sh
ernierna/checkpoint/ERNIE-RNA_checkpoint/ERNIE-RNA_pretrain.pt
ernierna/data
ernierna/docs
ernierna/results
